<div class ="text-center my-3">
  <h1><%= @events.title %></h1>
</div>

<div class="my-5 text-center d-flex justify-content-center">
   <div class="card", style="width: 24rem;">

      <div class="card-body">
        <h5 class="card-title">Event's title</h5>
          <p class="card-text"><%= @events.title %></p>
        <hr>
      </div>

      <div>
        <h6 class="card-title">Description</h6>
        <p class="card-text"><%= @events.description %></p>
        <hr>
      </div>

      <div>
        <p> Total of users : <%= @events.users.count %></p>
        <p> Event's creator : <%= @events.admin.first_name %> <%= @events.admin.last_name %></p>
        <p> Starting date : <%= @events.start_date %></p>
        <p> Event's location : <%= @events.location %></p>
        <p> Price : <%= @events.price %></p>
      </div>

    </div>

</div>



        